html, body{
	overflow-x: hidden;
}
body {
	font-family: "PT Serif", Helvetica, Arial, sans-serf;
	color: #333333;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Karla", Helvetica, Arial, sans-serf;
}
h2 {
	font-size: 28px;
	font-weight: normal;
	margin-bottom: 5px;
}
p {
	font-size: 16px;
	line-height: 19px;
	font-weight: 100;
}

/* Grid*/

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
.container:before,
.container:after {
	content: " ";
	display: table;
}
.container:after {
	clear: both;
}
.one-half, .one-third, .one-fourth {
	width:96%;
	float:left;
	position: relative;
	min-height: 1px;
	margin: 0 2% 20px;
}
.one-half {
	width: 46%;
}
.one-third {
	width: 29.33333%;
}
.one-fourth {
	width: 21%;
}

/* BUTTONS */

 .btn {
   border-radius: 4px;
   color:#FFFFFF;
   font-weight: 700;
   text-decoration: none;
   padding:10px 30px;
   background: #3499B3;
   border: 2px solid #3499B3;
   box-shadow: 0px 2px 0px 0px #226475;
 }

/* Dashboard */

.dashboard {
	background: #F7F7F7;
}
.horizontal-nav {
	width: 100%;
	color: #1C515E;
	background: #F7F7F7;
	float: left;
	position: relative;
	display: block;
}
.horizontal-nav .container{
	margin-top: 20px;
}
.logo h1 {
	display: inline-block;
	margin-left: 10px;
	position: relative;
	bottom: 10px;
	font-weight: 350px;
}
.one-third.logo {
	width: 23%;
	margin-right: 0;
	margin-bottom: 0;
}
.one-third.items {
	width: 50%;
	text-align: center;
	margin-bottom: 0;
}
.one-third.settings {
	width: 23%;
	margin-left: 0;
	margin-bottom: 0;
}
.one-third.items {
	margin: 0;
}
nav .items ul {
	padding: 0;
}
nav .items li {
	display: inline-block;
	text-decoration: none;
	margin: 0 2%;
	list-style-type: none;
	text-align: center;
}
nav .items ul li a {
	text-decoration: none;
	color: #1C515E;
	font-size: 20px;
}
#active {
	color: #FFFFFF;
	background-color: #1C515E;
}
.horizontal-nav .settings img {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	top: 20px;
}
.horizontal-nav .settings p {
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	margin-left: 10px;
	position: relative;
	top: 10px;
}
.horizontal-nav .settings a {
	color: #1C515E;
	text-decoration: none;
	text-align: right;
	font-size: 18px;
	margin-left: 10px;
	position: relative;
	top: 10px;
}
.settings-group {
	margin: 0;
	padding: 0;
	float: right;
}
.horizontal-nav .container {
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #172D33;
}
.btn-section {
	display: block;
	color: #1C515E;
	position: relative;
	float: right;
}

/* Content */

.content {
	padding: 1.5em 1%;
	float: left;
	width: 98%;
	position: relative;
}
.content-item {
	width: 96%;
	min-width: 350px;
	margin: 0 2% 25px;
	float: left;
	display: block;
}
.item-box {
	display: block;
	height: 330px;
	background: #FFFFFF;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
	position: relative;
	overflow: hidden;
	padding: 20px;
}
.btn-section {
		margin: 50px 2% 0;
		padding: 15px;
}

/* FOOTER */

footer {
	background-color: #1C515E;
	color: #49B6D1;
	height: 100px;
	position: relative;
	overflow: hidden;
	z-index: 0;
	width: 100%;
}
footer p, footer nav ul {
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	margin: 10px auto 0;
}
footer nav ul li {
	list-style-type: none;
	display: inline;
}
footer li:not(:first-child):before {
    content: " | ";
}
footer nav ul li a {
	color: #49B6D1;
	text-decoration: none;
}
footer .logo {
	padding: 2.35em 0;
	margin: 0 auto;
	display: block;
	float: right;
}
p.copyright-block {
	font-family: "PT Serif", Helvetica, Arial, sans-serf;
	text-align: left;
}
ul#normal-footer-nav {
	text-align: center;
	font-family: "Karla", Helvetica, Arial, sans-serf;
	word-spacing: 10px;
}
.one-third.left {
	width: 18%;
	margin-right: 0;
	margin-bottom: 0;
}
.one-third.middle {
	width: 56%;
	text-align: center;
	margin-bottom: 0;
}
.one-third.right {
	width: 18%;
	margin-left: 0;
	margin-bottom: 0;
}

/* Smaller Mobile Device */

@media (min-width: 1px) and (max-width: 459px) {
	#mobile-menu {
		float: right;
		margin-top: 15px;
		margin-right: 15px;
	}
	.one-third.logo {
		width: auto;
	}
	.one-third.items {
		display: none;
	}
	.one-third.settings {
		display: none;
	}
	.one-third.left {
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	p.copyright-block {
		text-align: center;
	}
	.one-third.middle {
		width: 100%;
		margin: 20px auto 0;
	}
	.content-item {
		width: 350px;
	}
	ul#normal-footer-nav {
		padding: 0;
	}
	footer nav ul li {
		display: block;
	}
	footer nav ul li {
		word-spacing: 0;
	}
	footer li:not(:first-child):before {
    content: " ";
	}
	.one-third.right {
		width: 100%;
		margin: 0 auto;
	}
	footer .logo {
		float: none;
	}
	footer {
		height: auto;
	}
}

/* Larger Mobile Devices */

@media (min-width: 460px) and (max-width: 767px) {
	#mobile-menu {
		float: right;
		margin-top: 15px;
		margin-right: 15px;
	}
	.one-third.logo {
		width: auto;
		padding: 0;
	}
	.one-third.items {
		display: none;
	}
	.one-third.settings {
		display: none;
	}
	.content {
		padding: 1.5em 1%;
		width: 96%;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}
	.content-item {
		width: 46%;
		margin: 0 2% 25px;
		float: left;
		display: block;
	}
	.one-third.left {
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	p.copyright-block {
		text-align: center;
	}
	.one-third.middle {
		width: 100%;
		margin: 20px auto 0;
	}
	ul#normal-footer-nav {
		padding: 0;
	}
	footer nav ul li {
		display: block;
	}
	footer nav ul li {
		word-spacing: 0;
	}
	footer li:not(:first-child):before {
    content: " ";
	}
	.one-third.right {
		width: 100%;
		margin: 0 auto;
	}
	footer .logo {
		float: none;
	}
	footer {
		height: auto;
	}
}

/* Tablets */

@media (min-width: 768px) and (max-width: 991px) {
	.one-third.logo {
		width: 185px;
	}
	.one-third.items {
		margin: 0 2%;
		float: right;
		text-align: right;
		width: 350px;
		width: 60%;
	}
	.one-third.settings {
		margin-top: -10px;
		margin-bottom: 20px;
		float: right;
		width: 300px;
		clear: right;
	}
	#mobile-menu  {
		display: none;
	}
	.content {
		padding: 1.5em 5%;
		float: right;
		width: 90%;
		position: relative;
	}
	.content > .container {
		width: auto;
	}
	.content-item {
		width: 31.33333%;
		margin: 0 1% 25px;
	}
	footer {
		background-color: #1C515E;
		height: 100px;
	}
	footer p, footer nav ul {
		padding: 2em 0;
	}
	footer .logo {
		padding: 2em 0 2em 1.5em;
	}
}

/* Laptops and Desktops*/

@media (min-width: 992px) {
	#mobile-menu {
		display: none;
	}
	.content {
		padding: 1.5em 1%;
		float: right;
		width: 98%;
		position: relative;
	}
	.content > .container {
		width: auto;
	}
	.content-item {
		width: 23%;
		margin: 0 1% 25px;
	}
	footer {
		background-color: #1C515E;
		height: 100px;
	}
	footer p, footer nav ul {
		padding: 2em 0;
	}
	footer .logo {
		padding: 2em 0 2em 1.5em;
	}
}
.item-box > img {
	position: absolute;
	height: 100%;
	width: auto;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.item-box h2 {
	font-family: 'Karla', Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	margin: 0;
	color: #1C515E;
}
.item-box h2 a {
	color: #49B6D1;
	text-decoration: none;
}
.item-box h2 img {
	width: 16px;
	height: 16px;
	position: relative;
	top: 2px;
	margin-right: 5px;
}
.item-box p {
	font-size: 14px;
	color: #172D33;
	line-height: 21px;
	margin: 5px 0 0;
}


	
	